spring.datasource.url=jdbc:postgresql://<host-pooler-dari-tab-session-pooler>:5432/postgres?sslmode=require
spring.datasource.username=postgres.<project-ref>
spring.datasource.password=<isi-password-supabase-kamu>
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximum-pool-size=5
spring.datasource.hikari.minimum-idle=1
spring.datasource.hikari.connection-timeout=10000
spring.datasource.hikari.max-lifetime=300000

spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
spring.jpa.properties.hibernate.jdbc.batch_size=20
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true
spring.data.web.pageable.default-page-size=20
spring.data.web.pageable.max-page-size=100
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true

spring.jackson.deserialization.fail-on-unknown-properties=true
server.error.include-message=always
server.error.include-binding-errors=always

spring.data.redis.host=localhost
spring.data.redis.port=6379

spring.kafka.bootstrap-servers=localhost:9092
spring.kafka.consumer.group-id=warehouse-learning
spring.kafka.consumer.auto-offset-reset=earliest
spring.kafka.consumer.value-deserializer=org.springframework.kafka.support.serializer.JsonDeserializer
spring.kafka.consumer.properties.spring.json.trusted.packages=org.warehouse.Kafka.Dto
spring.kafka.consumer.properties.spring.json.type.mapping=itemsMoved:org.warehouse.Kafka.Dto.ItemsMovedKafkaMessage,lowStock:org.warehouse.Kafka.Dto.LowStockKafkaMessage
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer

app.kafka.topics.items-moved=warehouse.items-moved
app.kafka.topics.low-stock-alerts=warehouse.low-stock-alerts
app.kafka.consumer.groups.items-moved=warehouse-items-moved-group
app.kafka.consumer.groups.low-stock=warehouse-low-stock-group

logging.level.root=INFO
logging.level.org.warehouse=INFO
logging.level.org.springframework.kafka=INFO
